.class4 {
  font-family:cursive;
  color:blue;
  font-size:30px;
  font-weight:bold;
}

.class5 {
  font-family:fantasy;
  color:red;
  font-size:30px;
  font-weight:lighter;
}

.class6 {
  font-family:sans-serif;
  color:white;
  font-size:30px;
  font-weight:300;
}

.class4 p {
  background-color: red;
}

.class5 p {
  background-color: blue;
}

.class6 p {
  background-color: green;
}
